body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #333;
	color: #fff;
	font-size: 1.1em;
	line-height: 1.5;
	text-align: center;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
h1,
h2,
h3 {
	margin: 0;
	padding: 1em 0;
}
p {
	margin: 0;
	padding: 1em 0;
}
.read-more {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	background-color: #333;
	border: 1px solid #666;
	padding: 1em 2em;
	margin: 0.5em 0;
}
header {
	min-height: 450px;
	color: #fff;
}
.showcase-image {
	background: #333 url(../assets/images/showcase-image.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 450px;
	position: absolute;
	z-index: -1;
	opacity: 0.4;
}
.showcase-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 1.5rem;
}
.showcase-wrap h1 {
	padding-top: 100px;
	padding-bottom: 0;
}
#section-a {
	background-color: #eaeaea;
	color: #333;
	padding: 0 1.5em;
	padding-bottom: 2em;
}
#section-b ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#section-b li {
	margin-bottom: 1em;
	background: #fff;
	color: #333;
}
.card-content {
	padding: 1.5em;
	background: #fff;
	color: #333;
}
#section-c {
	background: #fff;
	color: #333;
	padding: 2em;
}
#section-d section {
	padding: 2em;
}
.contact {
	background: #2690d4;
}
footer {
	padding: 2em;
	background: #000;
	color: #fff;
}
footer a {
	text-decoration: none;
	color: #2690d4;
}
/* for min 700px */
@media (min-width: 700px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
	}
	#section-a p {
		columns: 2;
		column-gap: 2em;
	}
	.content-wrap,
	#section-b ul {
		grid-column: 2/4;
	}
	#section-b ul {
		display: flex;
		justify-content: space-around;
	}
	#section-d section,
	footer div {
		grid-column: span 2;
	}
	#section-b li {
		width: 31%;
	}
}
